
.outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style:normal;
  }

.carte {
    background-color: hsl(216, 50%, 16%);
    height: 420px;
    width: 235px;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 35px 1px black;
    padding: 20px;
}

.cardHeader {
    background: url("../assets/images/image-equilibrium.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height: 50%;
    width: 100%;
    border-radius: 10px;
}

.cardBody {
    height: 35%;
}

.cardTitle {
    color: white;
    font-weight: 600;
    font-size: 13pt;
}

.cardP {
    color:rgba(255, 255, 255, 0.526);
   
}

.cardMoney {
    display: flex;
    justify-content: space-between;
    font-size:10pt;
}

#eth, #days {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#eth {
    color: hsl(178, 100%, 50%);
    font-weight: 500;
}

#days {
    color:rgba(255, 255, 255, 0.526);
}

.cardFooter {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.creator {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    height: 100%;
    width: 100%;
    border-top: 1px solid rgba(128, 128, 128, 0.363);
}

.creator p {
    margin: 0;
    font-size: 11pt;
}

.creator img {
    height: 30px;
    width: 30px;
}